body { padding: 0; margin: 0 }
#container { position: fixed; width: 100%; height: 100%; }
#canvas { width: 100%; height: 100%; background: #FFFFFF }
#loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#logo { width: 800px; height: 800px; background: url('loader_image.webp') no-repeat center }
#progress-bar-empty { margin-left: auto; margin-right: auto; width: auto; height: 18px; margin-top: 10px; background: url('progress-bar.png') repeat center }
#progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full.png') repeat center }
#warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
